<!-- checkar porque se rompe el estilo agregando el spinner como está -->
<app-spinner [ngClass]="{'hidden':!varclass, 'visible':varclass}" class="fondieu"></app-spinner>
<div class="sobre-mi" [ngClass]="{'hidden':varclass, 'visible':!varclass }">
<div class="img-container">
  <img src="../../../assets/IMG_20220713_143637563.jpg" alt="foto" />
</div>
  <div>
    <h1>Sobre mí</h1>
    <app-edit-icon></app-edit-icon>
    <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
    <h6>fullstack web developer</h6>
    <span>
      {{persona.descripcion}}
      <hr>
      Fecha de Nacimiento: {{persona.fechaNac}}
      <hr>
      Correo electrónico: <a [href]="correoString">{{persona.correo }} </a>
      <hr>
      teléfono: <a [href]="telefonoString">{{persona.telefono}}</a>
    </span>
      
      
  </div>
</div>

