<app-spinner [ngClass]="{'hidden':!varclass, 'visible':varclass}" class="fondieu"></app-spinner>
<div class="educacion varclass" [ngClass]="{'hidden':varclass, 'visible':!varclass }">
  <h1>Educacion</h1>
  
  <div class="cardedu" *ngFor="let edu of educacion">

   <app-edit-icon class="editEdu" (click)="handleClick(edu)" ></app-edit-icon>
    <div class="img-container-edu">
      <img src="../../../assets/imt.png" alt="Logo de Empresa">
      <h2 id="nombre">{{edu.institucionEdu}} </h2>
    </div>
    <div class="text-container">
        <h6>Puesto: {{edu.tituloEdu}} </h6>  
        <span>fecha de inicio: {{edu.fechaIniEdu}} - {{edu.fechaFinEdu}} </span>
        <span> 
          <p>
            {{edu.descripcionEdu}}
          </p>
        </span>  
    </div>
  </div>

</div>
