header {
  position: fixed;
  width: 100vw;
  z-index: 100;
  padding: 0 2vw;
  box-shadow: 1px 1px 5px rgba(240, 248, 255, 0.358);
  background-color: #35393c;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  gap: 10vw;
  min-height: max-content;
  width: 100%;
}


header a {
  text-decoration: none;
  font-family: "Bad Script", cursive;
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
  padding: 0.5rem;
  display:grid;
  color: rgb(208, 214, 219);
  text-shadow: black 3px 3px 5px;
}

header a:hover {
  color: aliceblue;
  text-shadow: none;
}

.rollable{
  position: fixed;
top: -500px;
left: 0;
right: 0;
z-index: 999; /* ajusta el valor de z-index para que el header esté por encima de otros elementos si es necesario */
transition: all 3s ease-in-out; /* agrega una transición suave para el efecto de aparición/desaparición */
}


@media screen and (max-width: 800px) {
  
  
  header,
  header a {
    padding: 0;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 450px) {
  header,
  header a {
    padding: 0;
    font-size: 0.6rem;
    
  }
}
