<nav class="navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button
      class="navbar-toggler bg-light"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      id="burger"
    >
      <span class="navbar-toggler-icon bg-light"></span>
    </button>
    <div
      class="offcanvas offcanvas-end col-12"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header bg-dark">
        <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">
          Menú
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body bg-dark">
        <li class="nav-item-light">
          <a routerLink="/">Inicio</a>
        </li>
        <li class="nav-item-light">
          <a routerLink="/sobre-mi">Sobre mí</a>
        </li>
        <li class="nav-item-light">
          <a routerLink="/experiencia-laboral">Experiencia Laboral</a>
        </li>
        <li class="nav-item-light">
          <a routerLink="/educacion">Educacion</a>
        </li>
        <div class="roundContainer">
          <a href="" class="navLinkCollapse"
            ><img src="../../../assets/facebook.png" id="facebook"
          /></a>
          <a href="" class="navLinkCollapse"
            ><img src="../../../assets/github.png" id="github"
          /></a>
          <a href="" class="navLinkCollapse"
            ><img src="../../../assets/instagram.png" id="instagram"
          /></a>
          <a href="" class="navLinkCollapse"
            ><img src="../../../assets/linkedin.png" id="linkedin"
          /></a>
          <a routerLink="/login" aria-current="login" id="loginLink">
            <span>Login</span>
            <img
              src="../../../assets/IMG_20220713_143637563.jpg"
              alt=""
              id="foti"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
