.home img {
    position: absolute;
    width: 100%;
    min-width: 700px;
    
    min-height: 100%;
}

.down {
    position: absolute;
    top: 7rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.down h1 {
    width: 100vw;
    font-weight: 600;
    font-size: 3rem;
    animation: entrance 2s ease-in-out infinite alternate;
    transition: entrance 2s;
    color: #a1b5cb;
    text-shadow: black 5px 5px 5px;
}

.down svg {
    color: #a1b5cb;
    
    height: 2rem;
}
.down svg:hover{
    cursor: pointer;
}
.editBox{
    opacity: 0.2;
    color: aliceblue;
}
.hidden {
    display: none;
  }
  
  .visible {
    display: grid;
  }


@keyframes entrance {
    0% {
        color: rgba(128, 255, 0, 0);
        text-shadow: none;
    }

    100% {
        color: #a1b5cb;
        text-shadow: black 5px 5px 5px;
    }
}

