
.down {
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.down h1 {
    display: block;
    font-weight: 600;
    font-size: 3rem;
    animation: entrance 2s ease-in-out infinite alternate;
    transition: entrance 2s;
    color: #b1becb;
    text-shadow: black 5px 5px 5px;
}
.bannerImg{
    width: 100vw;
    z-index: 3;
}
.bannerImg::after{
    position: absolute;
    top: 2rem;
    left: 45vw;
    z-index: 100;
    font-size: 3rem;
}
.bannerImg img:hover{
    filter:brightness(.1);
}
.bannerImg:hover::after{
    content: "Click para abrir barra de navegacion";
    color: rgb(255, 255, 255);
}
.down p{
    color: #8b96a1ce;
}

.down svg {
    color: #b9c7d5;
    
    height: 2rem;
}
.down svg:hover{
    cursor: pointer;
}
.editBox{
    opacity: 0.2;
    color: aliceblue;
}
.hidden {
    display: none;
  }
  
  .visible {
    display: grid;
  }
  

 

@keyframes entrance {
    0% {
        color: rgba(128, 255, 0, 0);
        text-shadow: none;
    }

    100% {
        color: #a1b5cb;
        text-shadow: black 5px 5px 5px;
    }
}

