/* font-family: 'Akronim', cursive;
font-family: 'Allison', cursive;
font-family: 'Averia Sans Libre', cursive;
font-family: 'Bad Script', cursive; */

.educacion {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-around;
  padding-top: 10rem;
  font-size: 1.5rem;
  gap: 2rem;
  margin-bottom: 5rem;
  max-width: 100vw;
}

.educacion .cardedu {
  color: #282b2d;
  max-width: 80vw;
  height: max-content;
  min-height: fit-content;
  border-radius: 30px;
  background: #383c3e;
  box-shadow: 15px 15px 30px #333739, -15px -15px 30px #363a3c;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.educacion .cardedu .text-container {
  width: 30vw;
}
h1 {
  display: inline-block;
  height: min-content;
}

.educacion,
.educacion h1,
.educacion h2,
.educacion span,
.educacion h6 {
  color: aliceblue;
  text-shadow: rgba(0, 0, 0, 0.358) 3px 3px 5px;
  font-weight: bolder;
}
.cardedu .img-container-edu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}

.cardedu .img-container-edu img {
  max-width: 10rem;
  max-height: 10rem;
  object-fit: contain;
}

.educacion h1 {
  font-style: oblique;
  margin-bottom: 1rem;
  font-size: 6rem;
  font-family: "Allison", cursive;
  padding-right: 2rem;
}
.educacion div h2 {
  margin-bottom: 1rem;

  font-style: normal;
  font-family: "Averia Sans Libre", cursive;
}
.educacion h6 {
  font-size: 2rem;
  text-align: start;
}
.educacion .cardedu .text-container {
  text-align: left;
}
.educacion h2,
.educacion h6,
.educacion span {
  border-bottom: #7a8288 solid 1px;
}
.educacion .text-container span p {
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.educacion a {
  text-decoration: none;
  color: #7a8288;
  text-shadow: none;
}

.fondieu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nuevaEdu {
  display: flex;
  justify-content: flex-end;
}

.hidden {
  display: none;
}

.visible {
  display: grid;
}

@media screen and (max-width: 1000px) {
  .educacion {
    text-align: center;
    padding-top: 7rem;
    justify-content: center;
  }
  .educacion,
  .educacion .cardedu,
  .educacion span,
  .educacion h6,
  .educacion .cardedu span p {
    font-size: 92%;
  }
  .educacion .cardedu h2 {
    font-size: xx-large;
  }
  .educacion h1 {
    font-size: 4.8rem;
    text-align: center;
    padding: 0;
  }
  .editExp {
    transform: scale(0.9);
  }
  .deleteIcon {
    margin-bottom: 2rem;
  }
  .educacion .cardedu {
    flex-direction: column;
    width: 70vw;
    height: max-content;

    gap: 5rem;
    justify-content: space-between;
    align-items: center;
  }
  .educacion .cardedu .img-container-edu {
    gap: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .educacion {
    padding: 1rem 1rem;
    padding-top: 5rem;
  }
  .educacion h1 {
    font-size: 3rem;
  }
  .educacion .cardedu {
    gap: 5rem;
  }
  .educacion .cardedu span p {
    width: 12rem;
    margin-left: -2rem;
  }
}
