@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Allison&family=Averia+Sans+Libre&family=Bad+Script&display=swap');

/* font-family: 'Akronim', cursive;
font-family: 'Allison', cursive;
font-family: 'Averia Sans Libre', cursive;
font-family: 'Bad Script', cursive; */


