<div class="sobre-mi">
    <img src="../../../assets/IMG_20220713_143637563.jpg" alt="">
  <div>
    <h2>Hola, mi nombre es Nahuel Andrés Montaner</h2>

  <p>Soy un hombre apasionado por muchas cosas, entre las que enumero la familia, las amistades, la música, la tecnología y la comida.
    Me gusta pensar que tengo facilidad para la creación. Con esta certeza, hice frente a varios desafíos de distintas índoles como mi propio taller de música, reformas de albañilería, electricidad y/o carpintería en mi hogar. Siempre dispuesto a aprender sobre lo que haga falta, y analizar desde la lógica el mejor abordaje para cada proyecto o trabajo a realizar.
    En un ambiente laboral puedo desempeñarme con muy buena autonomía, contribuyendo al equipo todo lo que pueda en pos de lograr los objetivos propuestos o requeridos.
    Prefiero las cosas claras, y es por eso que cuando no me siento apto para la tarea o de alguna forma mi juicio o desempeño pueden verse comprometidos de forma alguna, no tengo miedo de comunicarlo a quien corresponda, ya que confío en que las relaciones honestas son las que hacen a las bases de un equipo funcional.
    Me gusta asentarme y hallar mi lugar, en contra de la corriente popular actual de pasar de una empresa a otra, siempre y cuando existan las motivaciones suficientes para poder desarrollar el mismo.
  </p>
  </div>
  
</div>