<form [formGroup]="form" class="formStyle" (ngSubmit)="onEnviar($event)">
    <div>
        <label for="email">Email</label>
        <input type="email" formControlName="mail">
    </div>
    <div *ngIf="Mail?.errors && Mail?.touched">
        <p *ngIf="Mail?.hasError('required')" class="error">
            El email es requerido
        </p>
        <p *ngIf="Mail?.hasError('email')" class="error">
            El formato del email debe ser válido.
        </p>
    </div>
    <br>
    <div>
        <label for="exampleInputPassword1" class="form-label">Password: </label>
        <input type="password" formControlName="password" [class.border-danger]="MailValid">
    </div>
    <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="error" >
            El password es requerido
        </p>
        <p *ngIf="Password?.errors?.['minlength']" class="error">
            El password debe ser de 8 o más caracteres.
        </p>

    </div>
    <br>
    <div>
        <button type="submit">Iniciar sesion</button>
    </div>
</form>

<div>
    <p>Un debuger para mostrar que es posible hacer un biding directo al formulario <strong>{{form.value.mail}} </strong> <strong>{{form.value.password}} </strong></p>
</div>