<div class="fondieu"></div>
<app-spinner [ngClass]="{'hidden':!varclass, 'visible':varclass}"></app-spinner>
<div class="skills" [ngClass]="{'hidden':varclass, 'visible':!varclass}">
    <h1>Hard y Soft Skills</h1>
    <div class="cardContainer">
        <div class="skillsCard" *ngFor="let skill of skills">
            <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'--value':skill.porcentaje}"></div>
            <h3>{{skill.nombreSkill}}</h3>
            <img src="" alt="Logo de lenguaje">
            <app-edit-icon></app-edit-icon>
        </div>
    </div>
</div>