<!-- checkar porque se rompe el estilo agregando el spinner como está -->
<app-spinner [ngClass]="{ hidden: !varclass, visible: varclass }" class="fondieu"></app-spinner>
<div class="sobre-mi" [ngClass]="{ hidden: varclass, visible: !varclass }">
  <div class="img-container">
    <img [src]=" persona.url_foto"
      alt="Foto de usuario(si no se muestra, intente cargar una en la sección de edición)" />
  </div>
  <div class="titleContainer">
    <app-edit-icon routerLink="/editarSobreMi" [ngClass]="{ hidden: !userLogged, visible: userLogged }"
      class="justify-content-md-end justify-content-center"></app-edit-icon>
    <h1 id="nombre">{{ persona.nombre }} {{ persona.apellido }}</h1>
    <h6 class="templateText">fullstack web developer</h6>
    <hr />
  </div>
  <span class="textContainer">
    <p>{{ persona.descripcion }}</p>
    <hr />
    <p class="templateText">Fecha de Nacimiento: <span>{{ persona.fecha_nac }}</span></p>
    <hr />
    <p class="templateText">
      Correo electrónico: <a [href]="correoString">{{ persona.correo }} </a>
    </p>
    <hr />
    <p class="templateText">
      teléfono: <a [href]="telefonoString">{{ persona.telefono }}</a>
    </p>
  </span>
</div>